<html>
<head>
<style>
body
{
	background-color:AliceBlue;
	align:center;
	visibility:visible;
	background-image: url('/static/adminbg.jpg');
	font-family:Helvetica;
	text-align:center;
	text-color:white;
	font-size:30pt;
}
h1{align:center;color:black;}
#k
{
	
	visibility:visible;
	text-align:center;
	font-size:18pt;
}
h6{color:white;}
#k
{
	
}

</style>
</head>
<font color="blue" size="6">
<h6 align="right" text="white"><a href="/logout"><font color="black">logout</a></h6>
<body>
<h1 align="center">WELCOME ADMIN</h1> 
<div id="k">
        <a href="/list"><img src="static/genreslist.jpg " width= "400px" height="300 px"></a>
        <a href="/newgenre"><img src="/static/add4.jpg " width= "400px" height="300 px"></a>
        <a href="/userdetails"><img src="static/userdetails.jpg " width= "400px" height="300 px"><br></a>
</table>
</div>
</body>
</html>
