<html>
<head>
<h1>THE FLASH</h1>
</head>
<style>
#k{
	float:left;
	padding:1px 20px 20px 1px;
}
#r{	
	font-size:20px;
}
</style>
<div id="k"><img src="/static/flash.png" height="400px" width="600px" float="left"></img></div>

<h2 float="right">GENRE: AMERICAN TELIVISION SERIES</h2>
<h2 float="right">8/10 &nbsp 7.8/10<br><small>imdb &nbsp  TV.com</small></h2>
<h2 float="right">CAST: </h2>
<div id="r">Flash: Grant Gustin</p>
<p>Iris West Allen: Candice Patton</p>
<p>Killer Frost: Danielle Panabaker</p>
<p>Eobard Thawne: Tom Cavanagh</p>
<p>Cisco Ramon: Carlose Walde</p>

<p>The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe. The series follows Allen, portrayed by Grant Gustin, a crime scene investigator who gains super-human speed, which he uses to fight criminals, including others who have also gained superhuman abilities. </p></div>

<div id="r"><p>Initially envisioned as a backdoor pilot, the positive reception Gustin received during two appearances as Barry on Arrow led to executives choosing to develop a full pilot to make use of a larger budget and help flesh out Barry's world in more detail. Colleen Atwood, costume designer for Arrow, was brought in to design the Flash's suit. The creative team wanted to make sure that the Flash would resemble his comic book counterpart, and not simply be a poor imitation. The series is primarily filmed in Vancouver, British Columbia, Canada.</p></div>

</html>
