<html>
<head>
<h1>FRIENDS</h1>
</head>
<style>
#k{
	float:left;
	padding:1px 20px 20px 1px;
}
#r{	
	font-size:20px;
}
</style>
<div id="k"><img src="/static/friends.jpg" height="400px" width="600px" float="left"></img></div>

<h2 float="right">GENRE: AMERICAN TELIVISION SERIES</h2>
<h2 float="right">10/10 &nbsp 9.2/10<br><small>imdb &nbsp  TV.com</small></h2>
<h2 float="right">CAST: </h2>
<div id="r">Rachel Green: Jennifer Aniston</p>
<p>Monica Geller: Courtney Cox Arquette</p>
<p>Phoebe Buffay: Lisa Kudrow</p>
<p>Joey Tribbiani: Matt LeBlanc</p>
<p>Chandler Bing: Matthew Perry</p>
<p>Ross Geller:David Schwimmer</p>
	





<p>Friends is an American television sitcom, created by David Crane and Marta Kauffman, which aired on NBC from September 22, 1994 to May 6, 2004, lasting ten seasons. With an ensemble cast starring Jennifer Aniston, Courtney Cox Arquette, Lisa Kudrow, Matt LeBlanc, Matthew Perry and David Schwimmer, the show revolves around six 20–30-something friends living in Manhattan. The series was produced by Bright/Kauffman/Crane Productions, in association with Warner Bros. Television. The original executive producers were Kevin S. Bright, Marta Kauffman, and David Crane.

Kauffman and Crane began developing Friends under the title Insomnia Cafe between November and December 1993. They presented the idea to Bright, and together they pitched a seven-page treatment of the show to NBC. After several script rewrites and changes, including a title change to Six of One,[1] and, Friends Like Us, the series was finally named Friends. </p></div>

<div id="r"><p>Friends received acclaim throughout its run, becoming one of the most popular television shows of all time.[8] The series was nominated for 62 Primetime Emmy Awards, winning the Outstanding Comedy Series award in 2002 for its eighth season. The show ranked no. 21 on TV Guide's 50 Greatest TV Shows of All Time,[9] and no. 7 on Empire magazine's The 50 Greatest TV Shows of All Time.[10][11] In 1997, the episode "The One with the Prom Video" was ranked no. 100 on TV Guide's 100 Greatest Episodes of All-Time.[12] In 2013, Friends ranked no. 24 on the Writers Guild of America's 101 Best Written TV Series of All Time,[13] and no. 28 on TV Guide's 60 Best TV Series of All Time.</p></div>

</html>
