<html>
<head>
<h1>HOW I MET YOUR MOTHER</h1>
</head>
<style>
#k{
	float:left;
	padding:1px 20px 20px 1px;
}
#r{	
	font-size:20px;
}
</style>
<div id="k"><img src="/static/howimym.jpg" height="400px" width="600px" float="left"></img></div>
<h2 float="right">GENRE: SITCOM</h2>
<h2 float="right">8.4/10 &nbsp 9.0/10<br><small>imdb &nbsp &nbsp &nbsp TV.com</small></h2>
<h2 float="right">CAST: </h2>
<div id="r">Ted Mosby : Josh Randor</p>
<p>Robin: Cobie Smulders</p>
<p>Barney Stinson: Neil Patrick Harris</p>
<p>Marshal Eriksen: Jason Segel</p>
<p>Lily: Alison Hannigan</p>

<p>How I Met Your Mother (often abbreviated to HIMYM) is an American sitcom that originally aired on CBS from September 19, 2005, to March 31, 2014. The series follows the main character, Ted Mosby, and his group of friends in New York City's Manhattan. As a framing device, Ted, in the year 2030, recounts to his son and daughter the events that led him to meet their mother.</p></div>
<h3>AWARDS</h3>
<div id="r"><p>The show has been nominated for 72 awards, winning 19. The show has been nominated for 28 Emmy Awards, including a nomination for Outstanding Comedy Series. Stars Alyson Hannigan and Neil Patrick Harris have each received acting accolades, with both receiving People's Choice Awards, and Harris receiving Emmy and Golden Globe nominations. In 2012, seven years after its premiere, the series won the People's Choice for Favorite Network TV Comedy. The show's art direction, editing and cinematography have also been awarded.</p></div>

</html>
