<html>
<head>
<style>
body
{
	visibility:visible;
	background-color:AliceBlue;
	align:center;
	visibility:visible;
	background-image: url('/static/bg7.jpg'); 
	font-family:Helvetica;
	text-align:center;
	text-color:white;
	font-size:42pt;
}
h1{align:center;color:turquoise;}
#k
{
	
	visibility:visible;
	text-align:center;
	font-size:18pt;
}

</style>
</head>
<body>
<h1 align="center"
>WELCOME!</h1>
<div id="k">

<h2 align="center"><a href="/admin">Admin</a></h2>
<h2 align="center"><a href="/enternew">no account? register here</a></h2>
<h2 align="center"><a href="/homepage">visit homepage</a></h2>  

 
</table>
</div>
</body>
</html>
