<!DOCTYPE>
<html>
<style>
body
{
	background-image: url('/static/bg2.jpg'); 	
}
table
{
	
	margin-top:50px;	

}
h3
{
	color:black;
}
</style>
<body>
<table border="2" align=center  width= "800px" height="100 px">
<thead>
<td><h3>GENERE ID</h3></td>
<td><h3>SHOW ID</h3></td>
<td><h3>SHOW NAME</h3></td>
<td><h3>RATINGS</h3></td>
<td><h3>SUGGESTIONS</h3></td>
<td><h3>DELETE</h3></td>

</thead>
{% for row in rows %}
	<tr>
		<td>{{ row["g_id"] }}</td>
		<td>{{ row["s_id"] }}</td>
		<td>{{ row["sname"] }}</td>
		<td>{{ row["rating"] }}</td>
		<td>{{ row["suggestions"] }}</td>
		<td><a href="/deleteshowlist/{{row['s_id']}}/{{ row['g_id']}}">DELETE</a></td>
	</tr>
{% endfor %}
</table>
<a href="/adminbackhome">go back</a>
</body>
</html>
